---
import { bodyPadding, containerWide } from '@/config'
import Container from '@components/Container.astro'
import Footer from '@components/Footer.astro'
import ScrollToTop from '@components/ScrollToTop.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<BaseLayout>
	<div class="thi-bg-stone">
		<Container class:list={[bodyPadding, containerWide]}>
			<h1>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit necessitatibus laboriosam
				ducimus, laudantium fugiat asperiores amet maiores tempora rerum a quaerat incidunt porro
				perspiciatis ipsa vero veniam temporibus, nam laborum.
			</h1>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis aperiam expedita
				ducimus quos illo itaque esse inventore saepe perspiciatis fugit! Dolorum nemo perferendis
				sequi magnam vero modi, unde nulla! Laborum? Iure ullam, nulla voluptas vel recusandae,
				cumque dolor fugit temporibus sed enim reprehenderit eveniet, quam culpa officia laboriosam
				sequi perferendis neque. Repellat minima commodi sint veritatis, optio nam enim nulla.
				Possimus quasi non nihil, doloremque natus tenetur temporibus asperiores minima aut vel
				numquam alias perspiciatis tempora fugit voluptates qui consequatur quia commodi. Modi
				molestiae, necessitatibus nostrum porro blanditiis officia eius?
			</p>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptas sequi molestiae
				autem voluptatum corrupti, odit, aspernatur id quo, facilis ut assumenda vel exercitationem
				aliquid impedit ullam? Voluptatum, quaerat distinctio. Non, quasi. Dignissimos ipsam atque
				vero. Inventore, autem maiores! Magni laborum inventore ipsa quo eaque eum, amet dolorum id?
				Voluptates possimus harum incidunt nam iure praesentium accusamus fuga dolores atque.
				Voluptatem nobis aliquid atque aperiam esse voluptatibus incidunt quia. Placeat cupiditate
				veritatis expedita quos in, magni nesciunt nihil ea, beatae ipsa ut consequuntur a saepe
				necessitatibus temporibus, vel ullam assumenda.
			</p>
		</Container>

		<Footer footerType="gray" />
		<ScrollToTop />
	</div>
</BaseLayout>
