---
/**
 * BaseLayout
 *
 * Nav + Main (Except from Footer and ScrollToTop)
 *
 *
 * Everything between these triple-dash code fences
 * is your "component frontmatter". It never runs in the browser.
 *
 * console.log('This runs in your terminal, not the browser!')
 */

import Nav from '@components/nav/Nav.astro'
import '@styles/base.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<div class="flex min-h-screen flex-col justify-between">
			<Nav />
			<div class="mb-auto">
				<main>
					<slot />
				</main>
			</div>
		</div>
	</body>
</html>
