---
/**
 * NavSearch
 *
 * TODO: Search function
 */

import { Icon } from 'astro-icon/components'
---

<div x-data="{isSearchOpen: false, searchKeyText: 'Ctrl + K'}" class="flex-1 flex justify-end">
  <button
    type="button"
    class="group h-full flex gap-2 items-center justify-center px-2 py-1.5 rounded-md text-slate-300 hover:text-white hover:bg-gray-700 focus:outline-none"
    @click="isSearchOpen = ! isSearchOpen"
    @keydown.ctrl.k.window.prevent="isSearchOpen = true"
  >
    <div>
      <Icon name="FiSearch" class="h-5 w-5" />
    </div>
    <div class="flex items-center gap-2">
      <span class="hidden sm:inline whitespace-nowrap">Search for notes</span>
      <span class="inline sm:hidden whitespace-nowrap">Search</span>
      <span
        class="text-[0.7rem] bg-[#65666b30] px-1 rounded-sm border-[#555] border-[0.5px] hidden sm:inline-block whitespace-nowrap"
        x-text="(navigator?.platform?.toLowerCase() || '').includes('mac') ? '⌘ K' : 'Ctrl K'"
      >
      </span>
    </div>
  </button>
</div>
